body {
    font-family: Arial, sans-serif;
    background-color: #8a8686;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.crachá {
    width: 300px;
    height: 450px;
    background-color: #000000;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 150px; 
    height: 150px;
    object-fit: contain;
    margin-bottom: 20px;
    margin-top: 50px;
}

.nome h2 {
    color: rgb(177, 144, 78);
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    margin-bottom: 70px;
}

.informacoes p {
    font-size: 14px;
    margin: 10px 0; 
    margin-bottom: 2px;  
}

